<div class="jumbotron">
  <h1>Register</h1>
</div>

<form {{action 'postComment' on='submit'}}>
  <p>{{input type="text" value=model.email class="form-control" placeholder="Email"}}</p>
  <p>{{input type="password" value=model.password class="form-control" placeholder="Password"}}</p>
  <p>{{input type="password" value=model.passwordConfirmation class="form-control" placeholder="Repeat password"}}</p>

  <hr>

  <p>{{input type="text" value=model.firstName class="form-control" placeholder="First Name"}}</p>
  <p>{{input type="text" value=model.lastName class="form-control" placeholder="Last Name"}}</p>
  <p>{{input type="text" value=model.bio class="form-control" placeholder="Biography"}}</p>
</form>
