<div class="jumbotron">
  <h1>About us</h1>
  <p>
    Lorem ipsum dolor sit amet.
  </p>
</div>

<div class="comments">
  <div class="alert alert-success {{if commentMessage 'fade-show' 'fade-hide'}}">
    {{commentMessage}}
  </div>

  <form {{action 'postComment' on='submit'}}>
    <input type="submit" value="Post">
    <p>{{input type="text" value=model.email class="form-control" placeholder="Email"}}</p>
    <p>{{textarea value=model.body class="form-control" placeholder="Comment body" rows="20"}}</p>
  </form>
</div>
